.all-buttons {
  width: 100%;
  background: linear-gradient(180deg, rgba(255, 178, 44, 1) 0%, #854836 100%);
  text-align: center;
}

.music-cards-container {
  text-align: center;
}

.choose-us {
  border: 2px solid #ffb22c;
  padding: 20px;
  width: 500px;
  border-radius: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 10px 1px #ccc;
  color: #ffb22c;
  background-color: #434242;
}

.choose-us div {
  margin: 40px 0;
}

.choose-us div h3 {
  text-decoration: underline;
}

.choose-us div p {
  color: wheat;
}

.cards {
  border: 2px solid #ccc;
  border-radius: 5px;
  margin: 30px;
  width: 280px;
  height: 350px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.cards:hover {
  transition: 0.3s;
  transform: scale(1.02);
  box-shadow: 0 0 10px 0 #666;
}

.cards img {
  width: 100%;
}

.cards h3 img {
  width: 25px;
  vertical-align: middle;
}

.end-tagline {
  color: #ffb22c;
  text-shadow: 1px 0 1px black;
  font-size: x-large;
  text-align: center;
}

.end-section {
  text-align: center;
}

.end-section a {
  color: #854836;
}
