* {
  margin: 0;
  padding: 0;
  font-family: "Itim", cursive;
}
.main-headings {
  font-family: "Cinzel", serif;
  font-size: 24px;
  color: #854836;
}
.mx-5 {
  margin: 5px;
}

.mx-10 {
  margin: 10px;
}

.login-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #434242;
  padding: 3px;
}

.tagline {
  color: #fff;
  font-family: "Dancing Script", cursive;
  font-size: large;
  font-weight: bold;
  margin: 0;
}

.login-section a {
  text-decoration: none;
  color: #fff;
}

.login-section a:hover {
  color: #ffb22c;
}

.navbar {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; */
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 178, 44, 1) 100%
  );
  padding: 5px 10px;
  color: #434242;
  display: inline-block;
  vertical-align: middle;
  width: 100VW;
}

.brand-container {
  /* width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center; */
  display: inline-block;
  vertical-align: middle;
}

.brand-container img {
  height: 70px;
  display: inline-block;
  vertical-align: middle;
}

#brand-name {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  text-align: center;
  font-family: "Bungee Spice", sans-serif;
  text-shadow: 1px 2px 2px #000;
  display: inline-block;
  vertical-align: middle;
}

.nav-links {
  width: 500px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 50px;  margin-right: 150px;
}

/* .nav-links ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}*/

.nav-links a {
  text-decoration: none;
  color: #434242;
  font-size: 20px;
  font-weight: bold;
  margin: 20PX;
}

/*
.nav-links ul a:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid #434242;
  border-radius: 10px;
  opacity: 0.5;
} */

.nav-link-selected {
  padding-bottom: 5px;
  border-bottom: 2px solid #434242;
  /* border-radius: 10px; */
}

.user-container {
  /* display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; */
  display: inline-block;
  vertical-align: middle;
}

.user-name {
  font-size: large;
  text-align: center;
}

.nav-menu-container {
  display: none;
}

.nav-menu {
  font-size: 24px;
}

/* BUTTONS */
.btn {
  padding: 4px 16px;
  border-radius: 10px;
  font-size: 17px;
}

.btn:hover {
  position: relative;
  top: 1.5px;
  box-shadow: 1px 2px 3px 1px #ccc;
}

.btn-primary {
  background-color: #ffb22c;
  color: #000;
  border: none;
}

.btn-secondary {
  background-color: #854836;
  color: #fff;
  border: none;
}

.btn-disabled {
  background-color: #434242;
  color: #fff;
  border: 2px solid #fff;
  opacity: 0.6;
}

.btn-small {
  padding: 2px 8px;
  border-radius: 10px;
  font-size: 14px;
}

.btn-large {
  padding: 5px 20px;
  border-radius: 10px;
  font-size: 20px;
}

input,select{
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 3px 0 #854836;
  padding: 4px 10px;
}

/* Mobile Device */
/* @media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .user-container {
    display: none;
  }

  .nav-menu-container {
    display: block;
  }
} */
